<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gazebo_control_plugin">
        <gazebo>
            <plugin
                filename="gz-sim-diff-drive-system"
                name="gz::sim::systems::DiffDrive">
                
                <left_joint>left_wheel_joint</left_joint>
                <right_joint>right_wheel_joint</right_joint>
                
                <wheel_separation>0.2</wheel_separation>
                <wheel_radius>0.032</wheel_radius> <max_linear_acceleration>1.0</max_linear_acceleration>
                
                <topic>cmd_vel</topic>
                <odom_topic>odom</odom_topic>
                <tf_topic>/tf</tf_topic>
                <frame_id>odom</frame_id>
                <child_frame_id>base_footprint</child_frame_id>
                
                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>
                <publish_wheel_tf>true</publish_wheel_tf>
            </plugin>
        </gazebo>
   </xacro:macro>
</robot>